/packages
/Xandernate/bin
/Xandernate/obj
/Xandernate.Sql/bin
/Xandernate.Sql/obj
/XandernateShowcase/bin
/XandernateShowcase/obj
*.suo
*.ldf
*.mdf
*.txt
*.zip
*.user
*.sql
/.vs/Xandernate/v15/Server/sqlite3
